<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends Connector</title>
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
    <!-- GOOGLEFONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Friends Connector</h1>

    <div class="show-friends-of-friends">

        <h2><%= users[4].firstName %> <%= users[4].surname %></h2>
        <h3>Friends Of Friends: </h3>

        <% names.forEach(function(name) { %>
            <ul>
                <li><i class="fas fa-user"></i> <%= name %></li>
            </ul>
        <% }); %>


    </div>
    
</body>
</html>